<h1><%= @post.title %></h1>

<%= simple_format @post.body %>

<%= link_to "Edit this post", edit_post_path(@post), :class => "btn btn-large btn-primary" %>
<%= link_to "Home", root_path, :class => "btn btn-large btn-warning" %>
