---
layout: default
---

<div class="home">
  <a href="#policies" class="right">Jump to class policies ⇣</a>
  <a href="https://github.com/the-iron-yard-indy-ror-oct-2015/course_notes/tree/master/by_week" class="right">Go to Daily Notes &rarr;</a>

  {% include_relative README.htm %}

  <ul class="post-list" id="policies">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
